html {
    background-color: whitesmoke;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title{
    text-align: center;
    font-family: 'Fuzzy Bubbles', cursive;
    text-shadow: 0.5px 0.5px 0.5px lightgray;
}

#player-colors {
    display: flex;
}

#p-1-color{
    font-family: 'Fuzzy Bubbles', cursive;
    margin: 0 auto;
    color: chartreuse;
}

#p-2-color{
    font-family: 'Fuzzy Bubbles', cursive;
    margin: 0 auto;
    color: cornflowerblue;
}

#layout {
    position: relative;
    border: 1px solid green;
    box-shadow: 6px 6px 6px darkgray;
    background-color: whitesmoke;
    margin: 4px;
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.square {
    background-color: cyan;
    padding: 72px;
    border: 1px solid blue;
}

.square:hover{
   border: 1px dashed yellow;
   box-shadow: 0px 0px 8px yellow; 
}


.X {
    background-color: chartreuse;
}

.O {
    background-color: cornflowerblue;
}

.square-deactivate{
    pointer-events: none;
}

#newGame {
    margin: 8px;
    padding: 8px;
    border: none;
    box-shadow: 6px 6px 6px darkgray;
    border-radius: 4px;
    background-color: cyan;
    color: blue;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#newGame:hover {
    cursor: pointer;
    border: 1px solid lime;

}
